<div class="card mt-5">
    <div id="about-content" class="card-body open-sans content clearfix">
        <h4 class="text-center font-weight-bold mb-5">About</h4>
        <div class="img-container text-center float-left">
            <img id="my-pic" class="mr-3 mt-2" src="./images/chris_jones.jpg" width="275"
                alt="pic of Chris Jones">
        </div>
        <p id="first-p">CJ Innovations was created by Chris Jones. Before web development, Chris was endeavoring to
            matriculate in
            mechanical engineering, when he discovered his love of programming. He eventually held off on his
            engineering studies, where he held a 4.0
            GPA,
            to attend UT Austin Coding Boot Camp for full-stack web development. Following the schooling, Chris chose to
            become an entrepreneur to have greater opportunities to
            learn and work with the newest and most exciting technologies.</p>
        <p>We develop implementations using runtimes and frameworks such as Node.js, Wordpress, October CMS, React.js, Laravel, 
            and many others.  We use a wide array of database types for data persistence with various
            applications, both relational and non relational. We offer far more than just web development. We also offer data
            mining to facilitate lead generation, SEO strategy implementations, and automation of business processes. Contact
            us
            for a free quote today!</p>
    </div>
</div>