<div class="card mt-5">
    <div id="contact-content" class="card-body open-sans content">
        <h2><strong class="contactLabel">Email:</strong>
        &nbsp;&nbsp; <span id="myEmail">chrisjones0517@gmail.com</span></h2>
        <h2 class="mt-5"><strong id="myPhone" class="contactLabel">Phone:</strong>&nbsp;&nbsp;&nbsp;<pre class="d-inline">901-289-3162</pre></h2>
        <h2 class="mt-5"><strong class="contactLabel">Send a Message:</strong></h2>
        <textarea id="message" class="w-100" cols="30" rows="10" maxlength="1000" placeholder="Leave your message here. All inquiries sent with contact info will receive a response within 24 hours."></textarea>
        <button id="submitMsg" class="btn btn-primary">Submit</button>
        <button id="clearMsg" class="btn btn-primary">Clear</button>
    </div>
</div>

<div id="messageModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 id="messageStatus" class="text-center"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>