<h1 id="homeHeading" class="text-center open-sans mt-5 pt-3 pb-2">Welcome to CJ Innovations!</h1>
<div class="card mt-5">
    <div id="home-content" class="card-body open-sans content">
        Hi, and welcome to CJ Innovations! We help small to medium-sized businesses with marketing solutions and
        web
        presence. We have added a small list of free games to this site. Please enjoy these
        ad-free
        games at your leisure, but we encourage you to visit the portfolio page during your visit. We offer a referral
        incentive
        of
        <u>10%</u> for those who refer customers resulting in a contract for a project. All of your comments and questions
        are
        welcome!
    </div>
</div>
