<div class="card mt-5">
    <div id="portfolio-content" class="card-body open-sans content">
        <h4 class="text-center font-weight-bold mb-5">Portfolio</h4>
        <div class="text-center mb-5">
            <div class="social-media-link">
                <a href="https://www.codewars.com/users/chrisjones0517/" target="_blank"><img
                        src="./images/codewars.png" alt="Codewars icon" width="32">
                </a>
                <span class="link-desc">Codewars</span>
            </div>
            <div class="social-media-link">
                <a href="https://github.com/chrisjones0517/" target="_blank"><img
                        src="./images/GitHub-Mark-32px.png" alt="GitHub icon">
                </a>
                <span class="link-desc">GitHub</span>
            </div>
            <div class="social-media-link">
                <a href="https://www.linkedin.com/in/chris-jones-a876a2144/"
                    target="_blank"><img src="./images/linkedin.png" alt="Linkedin icon" width="32">
                </a>
                <span class="link-desc">Linkedin</span>
            </div>
        </div>
        <p class="mb-5">For brevity, a shortened list of projects has been provided. The games hosted on this site also
            showcase a solid understanding of styling, algorithms, and statistics.
        </p>
        <ul id="project-list">
            <li>The Iron Battlefield Gym LLC<button class="btn btn-primary portfolioBtn ml-2 mr-5 float-right" data-target="#ironDesc"
                    data-toggle="modal">Description</button><a class="btn btn-primary float-right portfolioBtn"
                    href="https://theironbattlefieldgymllc.com/" target="_blank">Demo</a></li><br>
            <li>L &amp; K Roadside Service<button class="btn btn-primary portfolioBtn ml-2 mr-5 float-right" data-target="#landk"
                    data-toggle="modal">Description</button><a class="btn btn-primary float-right portfolioBtn"
                    href="http://landk24-7roadsideservice.com/" target="_blank">Demo</a></li><br>
            <li>83LLC<button class="btn btn-primary portfolioBtn ml-2 mr-5 float-right" data-target="#_83llcDesc"
                    data-toggle="modal">Description</button><a class="btn btn-primary float-right portfolioBtn"
                    href="http://www.83llc.com/" target="_blank">Demo</a></li><br>
            <li>Helios<button class="btn btn-primary ml-2 mr-5 float-right portfolioBtn" data-target="#heliosDesc"
                    data-toggle="modal">Description</button><a class="btn btn-primary float-right portfolioBtn"
                    href="https://helios-rideshare.herokuapp.com" target="_blank">Demo</a></li><br>
            <li>Newsbook<button class="btn btn-primary portfolioBtn ml-2 mr-5 float-right" data-target="#newsbookDesc"
                    data-toggle="modal">Description</button><a class="btn btn-primary float-right portfolioBtn"
                    href="https://newsbook-wsj.herokuapp.com" target="_blank">Demo</a></li><br>
        </ul>
    </div>
</div>

<div id="ironDesc" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">The Iron Battlefield Gym LLC</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Overview</h4>
                <p>This is a website for a local independently owned gym. The site features a blog that allows patrons to post in real-time to locate a workout partner, discuss gym equipment issues, etc. It also features a custom image carousel with optional titles and captions and a video playlist option from YouTube that receives its link from a custom field in the Wordpress admin area. The 'Events' page is populated using custom fields for dates, titles, descriptions, and images. This allows for convenient updates from the Wordpress admin area regarding bodybuilding, powerlifting, and other gym-related events.</p>
                <h4>Dependencies</h4>
                <ul>
                    <li>Wordpress 5.2.2</li>
                    <li>Custom theme</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="heliosDesc" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Helios</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Overview</h4>
                <p>Helios is a ride sharing application that allows for the user to book the cheapest ride from multiple
                    ride sharing companies - giving the user the ability to compare the prices and choose a ride without
                    having to open multiple ride sharing applications to see the price of a particular ride at any given
                    time. At the same time, this will keep the user from paying extremely high prices during peak hours
                    and this will also bring business to the smaller ride sharing companies who, in some cities, are
                    dominated by some of the bigger ride sharing companies. The goal of this application is to inform
                    the user of all prices between multiple ride sharing companies without the user having to hop
                    between applications to find the cheapest price for their ride.</p>
                <h4>Dependencies</h4>
                <ul>
                    <li>Bcrypt</li>
                    <li>Express</li>
                    <li>Handlebars</li>
                    <li>Sequelize</li>
                    <li>Passport</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="newsbookDesc" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Helios</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Overview</h4>
                <p>This application is designed to allow the user to quickly and easily scrape news articles from the
                    Wall Street Journal. The scraped data consists of article headlines, article summaries, and links to
                    the full articles. This version contains an extra TTL feature so that the articles don't grow into
                    unmanageability. The scraped documents which are not saved expire after 72 hours.</p>
                <h4>Dependencies</h4>
                <ul>
                    <li>Body-parser</li>
                    <li>Cheerio</li>
                    <li>Dotenv</li>
                    <li>Express</li>
                    <li>Express-handlebars</li>
                    <li>Mongoose</li>
                    <li>Request</li>
                    <li>Request-promise</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="_83llcDesc" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Helios</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Overview</h4>
                <p>This client wanted to upgrade from Wordpress to a platform with less idiosyncracies. He had hosting
                    limitations such that he needed
                    to continue using PHP. The site was built using October CMS and the Laravel framework. The image
                    displays had requirements that
                    they be responsive, yet maintain their ordering. PHP scripts were written to accomplish this
                    ordering by last name, while providing
                    convenience in adding new items. A custom plugin was written for the contact form.
                </p>
                <h4>Customer Review</h4>
                <p>"We had a WordPress website where the theme and other components were no longer being updated, so the
                    site was starting to fail. Chris put a lot of time in to research the best technology to use for our
                    website design and for ongoing maintenance and updating. He was great in communicating all questions
                    and concerns that he had and truly wanted what was best for us. He also seemingly was always online
                    in that any question or comment we had he responded to almost immediately. Chris created a sandbox
                    for us to test drive what he was creating and he was incredibly flexible when we had changes or
                    additional requests. He also deployed the website for us and he literally worked through the night
                    to make sure it was deployed and running and we did not suffer down time. Our web host's technology
                    was clearly lacking and this created a series of challenges, but again, Chris was not only up to the
                    task, but he completed this complete re-write and website design and deployment about a week and a
                    half earlier than we expected. He is a very dedicated and trustworthy individual and we will utilize
                    Chris for future website needs. Thank you so much Chris! You did a phenomenal job."
                </p>
                <h4>Dependencies</h4>
                <ul>
                    <li>October CMS</li>
                    <li>Laravel</li>
                    <li>Builder plugin by RainLab</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="landk" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Helios</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Overview</h4>
                <p>This client was needing a website to represent his roadside service business for the commercial trucking industry. A custom text scroll was added to the home page, as well as a custom logo. The wheel in the logo spins during page load. The client was very pleased with the deliverable.
                </p>
                <h4>Dependencies</h4>
                <ul>
                    <li>Wordpress 5.2.2</li>
                    <li>Custom theme</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>